[Unit]
Description=${project.description}-${version}
After=syslog.target

[Service]
User=root
SuccessExitStatus=143
ExecStart=/bin/bash -c "/usr/bin/java -Dspring.profiles.active=${service.profile} -jar ./${project.name}.jar"
WorkingDirectory=${project.serviceBaseDir ? project.serviceBaseDir : '/var'}/${rootProject.name}/${project.name}/${ service.profile == 'test' ? '' : version + "/" }

[Install]
WantedBy=multi-user.target